.navbar-golden-bees {
  padding-top: 15px;

  .navbar-brand {
    img {
      width: 75px;
      height: 75px;
    }
  }

  .nav-item {
    .nav-link {
      @include media-breakpoint-up(lg) {
        margin-left: 10px;
        margin-right: 10px;
      }

      color: #fff;

      &:hover {
        color: #be9a30;
      }
    }
  }

  .navbar-toggler {
    background-color: #be9a30;
  }

  .navbar-collapse {
    @media screen and (max-width: 766px) {
      background-color: #1d1d1d;
      text-align: center;
    }
  }
}

.navbar-fixed-top.scrolled {
  background-color: #1d1d1b !important;
  transition: background-color 200ms linear;
}
